torch
torchvision
tensorflow
keras

numpy
pandas
scipy

opencv-python
Pillow
imageio
imageio-ffmpeg

matplotlib
tqdm

scikit-learn
joblib
h5py

einops
ipykernel
jupyter_client
jupyter_core

ollama run deepseek-coder:1.3b-instruct-q4